/* Importing Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* Importing Inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* Color */
.color1 {
    color: rgba(0, 0, 0, 1);
}

.color2 {
    color: rgba(37, 36, 50, 1);
}

.color3 {
    color: rgba(137, 135, 161, 1);
}

.color4 {
    color: rgba(233, 90, 8, 1);
}

.color5 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-weight: 400px;
}

/* nav style */

.nav-bar {
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.nav-link {
    text-decoration: none;
}

.material-icons {
    margin-right: 10px;
}

.nav-items {
    list-style: none;
    margin-right: 3rem;
    font-size: 18px;
    font-weight: 500px;
}

.nav-bar,
.banner {
    max-width: auto;
    margin: 2rem 9.3rem;
}

/* banner */
.banner-info {
    font-size: 4rem;
    font-weight: bold;
}

.banner-text {
    padding-top: 1rem;
}

.banner-tag {
    margin-top: 10rem;
}

.banner-img {
    margin-top: 7rem;
}

.banner {
    margin-top: 7rem;
}

/* Media query */

@media screen and (max-width: 576px) {
    .nav-bar-items {
        display: none;
    }

    .nav-bar {
        /* margin: 4rem, 1rem; */
    }

    .nav-list {
        margin-left: 15rem;
    }

    .nav-bar,
    .banner {
        max-width: auto;
        margin: 1rem;
    }

    .banner-tag {
        grid-area: banner-tag;
        margin-top: 20px;
    }

    .banner-img {
        grid-area: banner-image;
        margin-top: 20px;
    }

    .banner {
        display: grid;
        grid-template-areas:
            "banner-image "
            "banner-tag  ";
    }


}