/* Importing Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* Importing Inter font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* Color */
.color1 {
    color: rgba(0, 0, 0, 1);
}

.color2 {
    color: rgba(37, 36, 50, 1);
}

.color3 {
    color: rgba(137, 135, 161, 1);
}

.color4 {
    color: rgba(233, 90, 8, 1);
}

.color5 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-weight: 400px;
}

.color6 {
    color: rgba(17, 17, 17, 1);
}

.add {
    font-size: 1.4rem;
    font-weight: 600px;
}

.tk {
    margin-top: -10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.btn-prime {
    background-color: rgba(233, 90, 8, 1);
    font-size: 1rem;
    font-weight: 210px;
    padding: 20px 50px;
    border: none;
    margin-left: 25px;
    color: rgba(255, 255, 255, 1);
}

.header-info {
    font-size: 4rem;
    font-weight: bold;
}

/* nav style */

.nav-bar {
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.nav-link {
    text-decoration: none;
}

.material-icons {
    margin-right: 10px;
}

.nav-items {
    list-style: none;
    margin-right: 3rem;
    font-size: 18px;
    font-weight: 500px;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 2rem 9.3rem;
}

/* banner */
.banner-info {
    font-size: 4rem;
    font-weight: bold;
}

.banner-text {
    padding-top: 1rem;
}

.banner-tag {
    margin-top: 10rem;
}

.banner-img {
    margin-top: 7rem;
}

.banner {
    margin-top: 7rem;
}

/* Main part of body */
/* Our plants */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.plants-tag {
    font-size: 3rem;
    font-weight: bold;
}

.plants-description {
    margin-top: -10px;
    padding: 5.5rem, 7.5rem;
    text-align: center;
}

.plants-info {
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.plants-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.add,
.tk {
    text-align: center;
    margin-right: 70px;
}

/* Media query */

@media screen and (max-width: 576px) {
    .nav-bar-items {
        display: none;
    }

    .nav-list {
        margin-left: 15rem;
    }

    .nav-bar,
    .banner {
        max-width: auto;
        margin: 1rem;
    }

    .banner-tag {
        grid-area: banner-tag;
        margin-top: 20px;
    }

    .banner-img {
        grid-area: banner-image;
        margin-top: 20px;
    }

    .banner {
        display: grid;
        grid-template-areas:
            "banner-image "
            "banner-tag  ";
    }

    /*plants */

    .plants-info {
        max-width: 393px;
        text-align: center;
    }

    .plants-tag {
        font-size: 22px;
        font-weight: bold;
    }

    .plants-description {
        font-size: 22px;
        font-weight: 400px;

    }

    .plants-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}